{{#partial "content"}}

<div class="container">
    <h1 class="text-center">TRACKING OUR BEAUTIFUL WILD ANIMALS</h1>
    <div class="text-center">
        <a href="/wildlife/new"><button class="btn btn-outline-success">ADD ANIMAL</button></a>
    </div>
</div>

{{/partial}}
{{> layout.hbs}}