{{#partial "content"}}

<div class="container" style="padding:20%; color:white;">
    <h1 class="text-center" style="   font-style: italic;">TRACKING OUR BEAUTIFUL WILD ANIMALS</h1>
    <div class="text-center">
        <a href="/wildlife/new"><button class="btn btn-outline-success ">ADD ANIMAL</button></a>
    </div>
</div>
<style>

</style>

{{/partial}}
{{> layout.hbs}}