{{#parial "content"}}
    <nav class="navbar justify-content-end bg-dark">
        <ul class="nav">
            <a class="nav-item nav-link" href="/"><li>HOME</li></a>
            <a class="nav-item nav-link" href="/wildlife/new"><li>TRACK ANIMALS</li></a>
            <a class="nav-item nav-link" href="/all-animals"><li>ALL ANIMALS</li></a>
            <a class="nav-item nav-link" href="/sightings"><li>SIGHTINGS</li></a>

        </ul>
    </nav>

    <h1 class="text-center">TRACKING OUR BEAUTIFUL WILD ANIMALS</h1>
    <div class="text-center">
        <a href="/wildlife/new"><button class="btn btn-outline-success">ADD ANIMAL</button></a>
    </div>
{{/parial}}
{{>layout.hbs}}