{{#block "title"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <title>Document</title>
</head>
{{/block }}


<body>
    <div class="container-fluid main-page">
        <nav class="navbar justify-content-end bg-dark" id="navbar-custom">
            <ul class="nav">
                <a class="nav-item nav-link" href="/">
                    <li style="color:white;">HOME</li>
                </a>
                <a class="nav-item nav-link" href="/wildlife/new">
                    <li style="color:white;">TRACK ANIMALS</li>
                </a>
                <a class="nav-item nav-link" href="/all-animals">
                    <li style="color:white;">ALL ANIMALS</li>
                </a>
                <a class="nav-item nav-link" href="/sightings">
                    <li style="color:white;">SIGHTINGS</li>
                </a>

            </ul>
        </nav>
        {{#block "content"}}
        {{/block}}
    </div>

    <style>
        .main-page {
            background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url("https://images.unsplash.com/photo-1575550959106-5a7defe28b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        }
        #navbar-custom{
        position: absolute;
        left:0;
        right:0;
        }
    </style>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>